.footer-form {
  margin-left: auto;
}
.footer-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--white-color);
  padding-left: 16px;
  outline: none;
}
.modal-form-input::placeholder {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-btn {
  height: 50px;
  padding: 10px 62px 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  border: currentColor;
}
.footer-form-wrapper {
  position: relative;
}
.footer-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  fill: var(--white-color);
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
