.footer-list {
  display: flex;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--accent-color);
}
