.modal {
  position: relative;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  padding: 40px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  cursor: pointer;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    fill: var(--accent-color);
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}
